.ctrl-label,
.box.options label,
.layerN {
    font-family: "Arial Narrow", Arial, sans-serif;
    font-size: 80%;
}

.layerN {
    font-size: 70%;
    font-weight: bold;
}

.slider-ctrl span {
    margin-right: 4px;
}

.layers {
    grid-area: layers;
    display: grid;
    height: 100%;
    /*background: aqua;*/
    grid-template-columns: 15% 15% 15% 15% auto 15%;
    grid-template-rows: 25% auto 25%;
    grid-template-areas:
        "opacityP opacityP opacityP opacityP opacityP opacityP"
        "layerP layerP layerP layerP layerP layerP"
        "b1 b2 b3 b4 empty b5"
    ;
}

.opacityP {
    grid-area: opacityP;
    background: chocolate;
}

.layerP {
    grid-area: layerP;
    overflow-y: scroll;
    /*background: darkblue;*/
}

.layerRow {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
}

.visibilityBtn {
    margin-left: 8%;
    margin-right: 8%;
}

.layerN {
    grid-area: layerN;
}

.b1, .b2, .b3, .b4, .b5 {

    width: 95%;
    height: 80%;
    object-fit: cover;
    justify-self: center;
    align-self: center;
}

.b1, .b5 {
    height: 65%;
    width: 80%;
}

.b1 {
    grid-area: b1;
}

.b2 {
    grid-area: b2;
}

.b3 {
    grid-area: b3;
}

.b4 {
    grid-area: b4;
}

.b5 {
    grid-area: b5;
    justify-self: end;
}

.disabled-btn {
    opacity: 0.5;
}
